*{
    box-sizing: border-box;
    color: green;
}
div {
    outline: 1px solid #090909;
    display: block;
    width: 100%;
}

section{
    overflow: hidden;
}

p{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}