/* Mobile devices - 768px maximum */
@media (max-width: 768px) {
    * {
        margin: 0 auto;
        color: black;
    }

    /* A */
    div {
        background-color: #0000FF;
        margin: 0 auto;
        height: 75px;
        width: 480px;
    }

    section{
        clear: both;
        margin: 0 auto;
    }

    /* B */
    section > div{
        background-color: #00EE11;
        height: 150px;
        width: 480px;
    }
    /* C, D */
    section > section > section > div{
        height: 125px;
        width: 480px;
    }

    /* C specifically */
    section > section > section > div:first-child{
        background-color: #0022DD;
    }
    
    /* D specifically */
    section > section > section > div:last-child{
        background-color: #00CC33;
    }

    section > section > section > section {
        width: 480px;
    }

    /* E, F, G, H */
    section > section > section > section > div{
        display: inline-block;
        height: 250px;
        width: 240px;
        margin-left: 0px;
        margin-right: -4px;
    }

    /* E */
    section > section > section > section:first-of-type > div:first-child{
        background-color: #0044BB;
    }

    /* F */
    section > section > section > section:first-of-type > div:last-child{
        background-color: #AA5500;
    }

    /* G */
    section > section > section > section:last-of-type > div:first-child{
        background-color: #996600;
    }

    /* H */
    section > section > section > section:last-of-type > div:last-child{
        background-color: #008877;
    }

    /* I */
    section > section > section > div:only-child{
        background-color: #007777;
        height: 80px;
        width: 480px; 
    }
}

/* Desktop devices - 768px minimum */
@media (min-width: 768px) {
    * {
        margin: 0 auto;
        color: blue;
    }

    div {
        float: left;
        margin: 0 auto;
    }

    section{
        clear: both;
        margin: 0 auto;
        width: 960px;
    }
}

